html {
    font-size: 16px;
    font-family: 'century gothic';
    color: white;
}

main h1 {
    font-size: 3.5rem;
}

main .contact-title {
    padding: 5rem 0;
    text-align: center;
}

main .contact-title .image-container {
    text-align: center;
}

main .contact-title img {
    position: relative;
    top: 1.5rem;
    left: 6rem;
    width: 4%;
    height: auto;
}

.email-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding: 2rem 0 0.5rem;
}

.email-data {
    display: flex;
    align-items: center;
}

 .email-data .image-container{
    padding-right: 0.5rem;
}

.whats-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding: 2.5rem 0;
}

.whats-data {
    display: flex;
    align-items: center;
}

 .whats-data .image-container{
    padding-right: 0.5rem;
}