html {
    font-size: 16px;
    font-family: 'century gothic';
    color: white;
}

main .contact-title {
    padding: 5rem 0;
    text-align: center;
}

main .contact-title .image-container {
    text-align: center;
}

main .contact-title img {
    position: relative;
    top: 2.5rem;
    left: 5.8rem;
    width: 4%;
    height: auto;
}

@media only screen and (max-width: 1600px) {
    main .contact-title img{
        display: none;
    }
}

.email-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    padding: 2rem 0 0.5rem;
    color: white;
}

.email-data {
    display: flex;
    align-items: center;
}

 .email-data .image-container{
    padding-right: 0.5rem;
}

.whats-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    padding: 2.5rem 0;
    color: white;
}

.whats-data {
    display: flex;
    align-items: center;
}

 .whats-data .image-container{
    padding-right: 0.5rem;
    opacity: 0.9;
}