body {
    max-width: 100%;
    overflow-x: hidden;
    background-image: url('../mockup-portafolio-fotos/Fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

header {
    width: 100%;
    background-image: url('../elementos/barra_header_fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
} 

header .content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1.875rem;
}

header .logo-desktop {
    margin-left: 10rem;
}

header nav {
    margin-left: 15rem;
}

header nav ul {
    display: flex;
    font-size: 1.125rem;
}

header nav ul li {
    margin: 0 0.5rem;
}

header nav ul li a {
    color: white;
    padding: 0.5rem 1.3rem;
}

header nav .active {
    border: solid 1px white;
    border-radius: 31.25rem;
    color: #FCE140;
    font-weight: bold;
}

header .social-media {
    display: flex;
    margin-right: 3rem;
}

header .social-media .icon {
    padding: 0 0.5rem;
}




footer .logo-constelacion {
    display: flex;
    justify-content: end;
    padding: 2rem 4rem 5rem 2rem;
    height: 5rem;
}

footer .logo-constelacion img {
    height: 8rem;
}