body {
    font-size: 12px;
}

@font-face {
    font-family: gidolinya;
    src: url(../fonts/gidolinya.regular.ttf);
}

/* header section  and carousel banner*/

.first-section {
    width: 100%;
    height: 100vh;
    background: url(../resources/graficos/banner-fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

#header {
    transition: background 0.1s linear, top 0.3s linear;
}

nav li a:hover {
    border: 1px solid white;
    border-radius: 31.25rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-desktop{
    width: 38rem;
    margin-left: 5rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0.5rem;
}

nav a {
    font-family: gidolinya;
    color: white;
    font-size: 1.2rem;
    border-radius: 31.25rem;
    padding: 0.5rem 2rem;
}

nav a.active {
    background-color: white;
    color: #006bb1;
}

.nav-mobile {
    display: none;
}

#banner {
    display: flex;
    color: white;
    font-family: 'inter-tight-variable';
    margin: 0 auto;
    height: 38rem;    
    align-items: center;
    justify-content: center;
}

#main-container {
    margin-top: 15rem;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container .container {
    height: 32rem;
    width: 50%;
}

#banner h2 {
    font-size: 3.8rem;
    color: white;
    padding: 0;
}

#banner p {
    font-size: 2.4rem;
    line-height: normal;
    margin-top: 1rem;
}

.icons {
    height: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 2rem;
}

.container.image {
    height: 35rem;
}


#banner-image{
    width: 100%;
    height: 30rem;
    border-radius: 2rem;
    border: 2px solid white;
} 

/* estudios section */

.second-section {
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: 5rem;
    color: #302051;
}

#estudios {
    font-family: 'inter-tight-variable';
}

h2 {
    font-size: 4rem;
    color: #302051;
    font-weight: 900;
}

#estudios p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
}

#estudios-carousel-background {
    margin-top: 2rem;
    height: 20rem;
    background-image: url('../resources/graficos/estudios-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
}

#estudios .estudio-item-page {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#estudios .image-container {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.image-estudios {
    width: 100%;
    height: auto;
}

.estudio-item {
    height: 25rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: border 0.5s linear;
}

#estudios .image-container:hover {
    border: 5px solid lightblue;
    cursor: pointer;
}

.title-container h4 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

#search {
    margin-top: 8rem;
    padding-top: 1rem;
    height: 16rem;
    background-color: #e4effa;
    border-radius: 1rem;
}

#search h3 {
    font-size: 2rem;
    color: #302051;
    font-weight: 900;
    margin-top: 2rem;
}

#search input {
    width: 50rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid transparent;
}

/* nosotros section */

.third-section {
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: 10rem;
    font-family: 'inter-tight-variable';
}

#play-button{
    position: relative;
    top: 22rem;
}

#valores {
    background-color: #e4effa;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    margin-top: 7rem;
    padding: 2rem;
}

.valor {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.valor h3 {
    font-size: 3.5rem;
    color: #302051;
    font-weight: 900;
}

.valor p {
    font-size: 1rem;
    color: black;
    font-weight: 100;
    text-align: left;
}

/* perfiles section */

.fourth-section {
    width: 100%;
    background-color: white;
    font-family: 'inter-tight-variable';
    text-align: center;
    margin-top: 10rem;
}

.perfiles-background{
    background-color: #302051;
}

.carrousel {
    height: 30rem;
}

.perfiles-background h2 {
    margin-top: 3rem;
    color: white;
    font-weight: 900;
}

.google-map {
    margin-bottom: 1rem;
}

.google-map iframe {
    height: 20rem;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #302051;
    /* position: absolute; */
}

/* footer section */

.fifth-section {
    padding: 3rem 0 1rem;
    font-family: 'inter-tight-variable';
    color: #302051;
}

footer {
    background-color: #e4effa;
}

.fifth-section .container.upper{
    height: 80%;
    display: flex;
}

.fifth-section .container.lower {
    margin-top: 3rem;
    text-align: center;
}

#contact {
    padding-left: 4rem;
}

#footer-logo {
    display: flex;
    justify-content: center;
}

footer .lower h2 {
    font-size: 2rem;
    font-weight: 100;
}

footer strong {
    font-weight: 900;
}

#horario {
    display: flex;
    align-items: center;
}

#horario .image-container {
    margin-right: 0.5rem;
}

#horario-domingo {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

#horario-domingo .image-container {
    margin-right: 0.5rem;
}

#horario p:nth-of-type(2) {
    padding-left: 1.5rem;
}

#contact p {
    font-size: 1rem;
    padding-right: 1rem;
}

#cel {
    display: flex;
    margin-top: 1rem;
}

#cel a {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

#cel p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

#whatsapp {
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

#oficina {
    display: flex;
    align-items: center;
}

.info {
    margin-left: 0.5rem;
}

#email {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 1rem;
}

#email a{
    margin-left: 0.5rem;
}

#copyr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 4rem;
}

#copyr p {
    margin-left: 0.5rem;
}

#copyr img {
    height: 1rem;
    width: 1rem;
}
