body {
    font-size: 16px!important;
    color: black!important;
    font-family: "korolev"!important;
    font-style: normal;
}

h2 {
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

h3 {
    color: black;
}

p {
    color: black;
    line-height: 1.7rem;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    margin: 8rem 0;
    text-align: center;
}