html {
    font-size: 16px;
    font-family: 'century gothic';
}

main .lirae-logo {
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .lirae-logo img {
    height: 15rem;
}

main .lirae-values {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main .lirae-values h2 {
    font-size: 3rem;
    font-family: "century gothic";
    color: #FCE140;
    padding-bottom: 1.5rem;
}

main .lirae-values .lirae-value {
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 0;
}

main .lirae-values p{
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.3rem;
    color: white;
}

.extra-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

.extra-info img{
    opacity: 0.5;
}

.extra-info p{
    width: 30%;
    font-size: 3rem;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .extra-info p{
        font-size: 2rem;
        width: 80%;
    }
}