html {
    font-size: 16px;
    font-family: 'century gothic';
    color: white;
}


h2 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

p {
    color: white;
}

.image-container img {
    width: 100%;
    height: 100%;
}


.social {
    display: flex;
}

.social .image-container {
    width: 100%;
    z-index: 10;
}

.social-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10rem;
}

.social-title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.social-row {
    display: flex;
    justify-content: space-evenly;
    height: 15rem;
    align-items: center;
    padding-top: 2.5rem 0;
}

.star {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 10%;
    padding-right: 1rem;
}

.star img {
    width: auto;
    height: 1.5rem;
}

.social-perk {
    width: 18rem;
    height: 10rem;
}

strong {
    color: #FCE140;
}

.social-info h3 {
    color: #FCE140;
    text-align: center;
    font-size: 1.5rem;
}

.social-info p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem
}

.social-logo img {
    width: 100%;
    position: relative;
    bottom: 12rem;
}






.design-title-container {
    display: flex;
}

.cover {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.cover-container {
    display: flex;
    justify-content: center;
    width: 35rem;
    z-index: 10;
}

.design-logo img{
    width: 100%;
    position: relative;
    bottom: 11rem;
    padding-bottom: 8rem;
}






.audiovisual {
    width: 100%;
    display: grid;
    grid-template: repeat(13, 4rem) / repeat(10, 10%);
    column-gap: 1%;
    row-gap: 1.2rem;
    z-index: 10;
}

.container-1 {
    grid-area: 1 / 2 / span 7 / span 4;
}

.container-2 {
    grid-area: 8 / 2 / span 6 / span 3;
    z-index: 10;
}

.container-3 {
    grid-area: 4 / 5 / span 5 / span 2;
}

.container-4 {
    grid-area: 9 / 5 / span 5 / span 2;
    z-index: 10;
}

.container-5 {
    grid-area: 3 / 6 / span 1 / span 3;
}

.container-6 {
    grid-area: 4 / 7 / span 10 / span 2;
    z-index: 10;
}

.audiovisual-title-container {
    display: flex;
    align-items: center;
}

.audiovisual-logo img{
    width: 100%;
    position: relative;
    bottom: 3rem;
    padding-bottom: 8rem;
}



.logo-enfoque {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.logo-enfoque img {
    opacity: 0.5;
    height: 10rem;
}